body{
    background-color: rgb(68, 100, 128);
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Gevera, Verdana, sans-serif;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}